@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);

nav {
  background-color: #FF7518;
  height: 100vh;
}

ul.nav a {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.add-room button {
  margin-right:12px;
}
