<div class="modal-header">
    <h4 class="modal-title">Create new room</h4>
</div>
<div class="modal-body">
    <form role="form" class="add-room" ng-submit="submit()">
        <div class="form-group">
            <label class="control-label" for="inputRoomName">Enter a room name</label>
            <div class="">
                <input type="text" class="form-control" id="inputRoomName" placeholder="Cool kids chat room" ng-model="formData.name" />
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary">Create Room</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
  <pre>
      {{ formData }}
  </pre>
</div>
